body {
  margin: 0;
  background-color: eeeeee;
  color: #222222;
}

main {
  margin: 2vw;
}

nav {
  top: 0;
  left: 0;
  background-color: rgb(160, 160, 160);
  color: #3b3b3b;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-item {
  font-size: 3vh;
  font-family: sans-serif;
  font-weight: bold;
}