body {
  margin: 0;
  background-color: #222222;
  color: #dbdbdb;
}

main {
  margin: 2vw;
}

nav {
  top: 0;
  left: 0;
  background-color: rgb(50, 50, 50);
  color: #888888;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-item {
  font-size: 3vh;
  font-family: sans-serif;
  font-weight: bold;
}